<section class="block container">
    <header class="block__header">
        <h2>Host on Cloud to keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, culpa.</p>
    </header>
    <div class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
              </span>                  
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sequi repellendus 
                reiciendis eveniet, vel itaque nam accusamus corporis! 
            </p>
            <a href="#" class="link-arrow">Learn More</a>

        </div>
        <img class="feature__image" src="images/easy.jpg" alt="">
    </div>

    <div class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#computer"></use>
                </svg>
              </span>                  
            <h3 class="feature__heading">Simply Fast website</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium libero optio odit 
                doloremque quasi, ipsa quibusdam veritatis odio cum eligendi ea at. Eum, unde modi?
            </p>
            <a href="#" class="link-arrow">Learn More</a>

        </div>
        <img class="feature__image" src="images/fast.jpg" alt="">
    </div>
</section>